.product {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 32px;
}

.res {
  display: block;
}

.res > img {
  width: 100%;
  display: block;
  height: auto;
}

.outOfStock {
  text-decoration: line-through;
}

.disabledButton {
  background-color: #d8d8d8;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.reviews {
  order: 1;
}
.review-form p input,
.review-form p textarea{
  width: 100%;
}
.review-form p input[type="submit"] {
  width: 100px;
}
.tab_box {
  margin-top: 24px;
}
.tab {
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 16px;
  border: 1px solid #39b982;
}
.activeTab{
    color: #fff;
    background-color: #39b982;
}